<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>카카오 로그인</title>
</head>
<body>
<div class="container" style="display: flex; justify-content: center; align-content: center; align-items: center; flex-direction: column; margin: 200px auto; ">
    <h1>카카오 로그인</h1>
    <a th:href="${location}">
        <img src="https://private-user-images.githubusercontent.com/80202719/467419309-94507dfe-ab10-4f19-ac9d-9688912b886f.png?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3NTI3MzkxNjAsIm5iZiI6MTc1MjczODg2MCwicGF0aCI6Ii84MDIwMjcxOS80Njc0MTkzMDktOTQ1MDdkZmUtYWIxMC00ZjE5LWFjOWQtOTY4ODkxMmI4ODZmLnBuZz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPUFLSUFWQ09EWUxTQTUzUFFLNFpBJTJGMjAyNTA3MTclMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwNzE3VDA3NTQyMFomWC1BbXotRXhwaXJlcz0zMDAmWC1BbXotU2lnbmF0dXJlPTI3OTY2OWQ3ZDZjMDRkNjUwMWIwMDQ5MGUxOWIwYzExZTUyNDA0NzE4N2VmZDUyMjA2NDBkMDI1MzgyMTc4ZmYmWC1BbXotU2lnbmVkSGVhZGVycz1ob3N0In0.V3eD0iPxuATan6qUSUGYsa1uly6DkcHl3gXv4v3eO5Q"  alt="카카오 로그인">
    </a>
</div>
</body>
</html>